<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 是MybatisMapper的位置-->
<mapper namespace="com.leemuzi.mybatis.mapper.MybatisMapper">
    <update id="updateUser">
        update student
        <set>
            <if test="name != null and name != '' ">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
        </set>
        where id = #{id}
    </update>

    <!--id是方法的名字-->
    <select id="count" resultType="integer">
        select count(1)
        from student
    </select>
    
    <resultMap id="userWithTeacherMap" type="com.leemuzi.mybatis.domain.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <collection property="teachers" ofType="com.leemuzi.mybatis.domain.Teacher">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <resultMap id="selectUserWithTeacherMap" type="com.leemuzi.mybatis.domain.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="teachers" select="getTeacher" column="id"/>
    </resultMap>

    <select id="getUser" parameterType="int" resultMap="selectUserWithTeacherMap">
        SELECT *
        FROM student s
        where s.id = #{id}
    </select>

    <select id="getTeacher" resultType="com.leemuzi.mybatis.domain.Teacher">
        SELECT *
        FROM teacher t
        where t.id = #{id}
    </select>

    <insert id="createUser">
        insert into student (name, age)
        values (#{users.name}, #{users.age})
    </insert>


</mapper>